<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
        <!-- FOOTER -->
        <div class="container-fluid footer marg30">
            <div class="container">
                <!-- FOOTER COLUMN ONE -->
                <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                    <div class="panel-transparent">

                    </div>
                </div>
                <!-- END FOOTER COLUMN ONE -->
                <!-- FOOTER COLUMN TWO -->
                <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">

                </div>
                <!-- END FOOTER COLUMN TWO -->
                <!-- FOOTER COLUMN THREE -->
                <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">

                </div>
                <!-- END FOOTER COLUMN THREE -->
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- COPYRIGHT INFO -->
        <div class="container-fluid footer-copyright marg30">
            <div class="container">
                <div class="pull-left">
                    Copyright © 2022 百里香百科
                </div>
            </div>
        </div>
        <!-- END COPYRIGHT INFO -->

    </div>

</html>