<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百里香百科</title>
    <!-- LOADING STYLESHEETS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div class="container featured-area-default padding-30" >
    <div class="row text-center">
        <div class="col-md-12 padding-20">
            <img src="/images/404.png" alt="404" width="200px" height="200px">
            <h1>这个页面好像没找到</h1>
            <br>
            <a href="/index.html" class="btn btn-info btn-wide">
                <i class="fa fa-arrow-circle-left"></i>回到首页</a>
        </div>
    </div>
</div>


<!-- LOADING MAIN JAVASCRIPT -->
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>