<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <div th:replace="~{include/headres :: keywords}"></div>

    <!-- LOADING STYLESHEETS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div th:replace="~{include/headres :: headres}"></div>

    <!-- SEARCH FIELD AREA -->
    <div th:replace="~{include/headres :: search}"></div>
    <!-- END SEARCH FIELD AREA -->
    <!-- MAIN SECTION -->
    <div class="container featured-area-default padding-30">
        <div class="row">
            <div class="col-md-8 padding-20">

                <!-- ARTICLE CATEGORIES SECTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="fb-heading">
                            推荐文章
                        </div>
                        <hr class="style-three">
                        <div class="row">
                            <div class="col-md-6 margin-bottom-20">

                                <div class="fat-content-small padding-left-30">
                                    <ul>

                                        <li th:each="article:${randomArticles}">
                                            <i class="fa fa-file-text-o"></i>
                                            <a th:href="'/article/' + ${article.getTitle() + '.html'}" th:text="${article.getTitle()}"> title </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END ARTICLES CATEOGIRES SECTION -->
            <!-- SIDEBAR STUFF -->
            <div class="col-md-4 padding-20">
               <div th:replace="~{include/headres :: support}"></div>

                <!-- POPULAR TAGS (SHOW MAX 20 TAGS) -->
                <div class="row margin-top-20">
                </div>
                <!-- END POPULAR TAGS (SHOW MAX 20 TAGS) -->
            </div>
            <!-- END SIDEBAR STUFF -->
        </div>
    </div>
    <!-- END MAIN SECTION -->

   <div th:replace="~{include/footer :: footer}"></div>

    <!-- LOADING MAIN JAVASCRIPT -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>